---
import CardContainer from "./common/CardContainer.astro";
---

<CardContainer>
  <p class="mb-5 max-w-70ch text-pretty text-xl text-main-text">
    Comencé mi carrera con un título en ingeniería y luego me trasladé al
    desarrollo web, impulsado por la pasión de crear <strong
      class="text-primary">código limpio</strong
    >, siguiendo <strong class="text-primary">las mejores prácticas</strong> para
    la escalabilidad y el mantenimiento.
  </p>
  <p class="mb-5 text-xl text-main-text">
    <strong class="text-primary">Testing</strong> es un aspecto crucial de mi trabajo:
    me enorgullezco de asegurarme de que cada proyecto cumpla con altos estándares
    de fiabilidad y satisfacción del usuario. Este enfoque meticuloso garantiza que
    mis desarrollos sean robustos y efectivos.
  </p>
  <p class="mb-5 max-w-70ch text-pretty text-xl text-main-text">
    Además de habilidades técnicas, aporto fuertes habilidades blandas: <strong
      class="text-primary">capacidad de aprendizaje</strong
    >, <strong class="text-primary">pensamiento analítico</strong> y <strong
      class="text-primary">flexibilidad</strong
    >. Estas cualidades me permiten adaptarme rápidamente a nuevos desafíos y
    colaborar eficazmente dentro de equipos para ofrecer soluciones digitales
    impactantes.
  </p>
</CardContainer>
