---
import type { Education } from "../types";
import CardContainer from "./common/CardContainer.astro";
interface Props {
  education: Education;
}

const { education: education }: Props = Astro.props;
---

<CardContainer>
  <div class="flex flex-col">
    <h2 class="mb-2 text-xl font-bold">{education.degree}</h2>
    <div class="flex items-center">
      <h3 class="text-lg">{education.school}</h3>
      <div class="mx-3 h-6 border border-main-text"></div>
      <span class="text-lg">
        {`${education.startDate} - ${education.endDate}`}
      </span>
    </div>
  </div>
</CardContainer>
