---
import Container from "./common/Container.astro";
import CopyIcon from "./icons/CopyIcon.astro";
import TelephoneIcon from "./icons/TelephoneIcon.astro";
import Link from "./common/Link.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
---

<footer class="pb-5 pt-10 text-center">
  <Container>
    <div class="flex flex-col items-center justify-center gap-5 md:flex-row">
      <div class="flex flex-row">
        <button
          id="copyButton"
          aria-label="Copiar correo"
          class="rounded-bl rounded-tl border border-primary bg-primary p-2 text-white transition-colors duration-300 hover:bg-secondary-accent hover:text-white dark:border-gray-700 dark:bg-secondary dark:text-primary dark:hover:bg-secondary-accent dark:hover:text-primary"
          ><CopyIcon id="copyIcon" class="text-white dark:text-primary" />
          <span id="copied" class="hidden text-inherit">¡Copiado!</span></button
        >
        <span
          id="textToCopy"
          class="w-full truncate rounded-br rounded-tr border border-l-0 border-primary bg-transparent p-2 text-primary dark:border-gray-700 dark:text-main-text-dark sm:w-[240px]"
          >alvaro.parada92@gmail.com</span
        >
      </div>
      <div class="flex flex-row items-center text-lg">
        <TelephoneIcon class="size-8 text-primary dark:text-main-text-dark" />
        <span class="text-primary dark:text-main-text-dark"
          >+34 615 928 718</span
        >
      </div>
      <div class="flex flex-row gap-3">
        <Link
          href="https://github.com/varitoapg"
          customClass="hover:scale-150 ease-in-out duration-300"
          ariaLabel="Alvaro Parada GitHub"
        >
          <GitHubIcon
            width={"36"}
            height={"36"}
            iconClass={"hover:text-secondary-accent ease-in-out duration-300"}
          />
        </Link>
        <Link
          href="https://www.linkedin.com/in/alvaro-parada/"
          customClass="hover:scale-150 ease-in-out duration-300"
          ariaLabel="Alvaro Parada LinkedIn"
        >
          <LinkedInIcon
            width={"36"}
            height={"36"}
            iconClass={"hover:text-secondary-accent ease-in-out duration-300"}
          />
        </Link>
      </div>
    </div>
  </Container>

  <script>
    import { changeCopyIcon } from "../scripts/changeCopyIcon.js";
    import { copyText } from "../scripts/copyText.js";

    document.getElementById("copyButton")?.addEventListener("click", () => {
      copyText("textToCopy");
      changeCopyIcon();
    });
  </script>
</footer>
