---
import Link from "./common/Link.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import Role from "./Role.astro";

interface Props {
  name: string;
}

const { name }: Props = Astro.props;
---

<div
  class="flex h-full w-full flex-col items-center justify-center gap-4 rounded-md border border-gray-700 bg-primary p-4 shadow-dark-lg duration-300 ease-in-out dark:bg-gray-900 dark:shadow-dark-glow md:flex-row md:hover:scale-110"
>
  <img
    src="/assets/images/yo.webp"
    alt=`${name}`
    class="h-52 w-52 rounded-full"
  />
  <div
    class="flex h-full w-full flex-col items-center justify-center gap-4 rounded-xl"
  >
    <h1
      class="text-center font-secondary-font text-[35px] text-white md:text-5xl md:text-6xl"
    >
      {name}
    </h1>

    <Role />

    <nav class="flex h-11 flex-grow gap-4">
      <Link href="https://github.com/varitoapg">
        <GitHubIcon
          width={"42"}
          height={"42"}
          iconClass={"text-secondary hover:text-secondary-accent ease-in-out duration-300 hover:scale-105"}
        />
      </Link>

      <Link href="https://www.linkedin.com/in/alvaro-parada/">
        <LinkedInIcon
          width={"42"}
          height={"42"}
          iconClass={"text-secondary hover:text-secondary-accent ease-in-out duration-300 hover:scale-105"}
        />
      </Link>
      <button
        id="downloadButton"
        class="flex cursor-pointer flex-col rounded-md bg-secondary p-2 text-center text-xl text-white transition-transform duration-300 ease-in-out hover:scale-105 hover:bg-secondary-accent dark:text-secondary-text-dark"
      >
        Descargar CV
      </button>
    </nav>
  </div>
</div>

<script>
  document.getElementById("downloadButton")?.addEventListener("click", () => {
    const link = document.createElement("a");
    link.href = "/assets/CV_Alvaro_Parada_ENG.pdf";
    link.download = "CV-Alvaro-Parada-ENG";
    link.click();
  });
</script>
