---
interface Props {
  name: string;
  image: string;
  iconSize?: number;
  textSize?: string;
  isPill?: boolean;
}

const { image, name, iconSize = 80, isPill, textSize }: Props = Astro.props;
---

<li
  class=`flex items-center gap-2 px-2 py-1 ${isPill ? "rounded-full border border-main-text shadow-dark-sm-soft dark:bg-gray-700 dark:shadow-dark-xs-glow" : "flex-col"}`
>
  <img
    src={image}
    class={`inline-block ${isPill ? "hover:rotate-45 ease-in-out duration-300" : "hover:scale-105 ease-in-out duration-300"}`}
    width={iconSize}
    height={iconSize}
    alt=""
  />
  <span class=`text-${textSize ? textSize: "base"}`>{name}</span>
</li>
