---
interface Props {
  href: string;
  customClass?: string;
  iconClass?: string;
  ariaLabel?: string;
}

const { customClass, href, ariaLabel = "" }: Props = Astro.props;
---

<a
  class={`cursor-pointer ${customClass || ""}`}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
>
  <slot />
</a>
